@layer reset, font, base, tokens, recipes, utilities;

@layer fonts {
  /* Your font imports go here */
  @font-face {
    font-family: "Bermia";
    src: url("/fonts/bermia/Bermia-Black.eot");
    /* IE9 Compat Modes */
    src: url("/fonts/bermia/Bermia-Black.eot?#iefix")
      format("embedded-opentype"), /* IE6-IE8 */
      url("/fonts/bermia/Bermia-Black.woff") format("woff"),
      /* Modern Browsers */
      url("/fonts/bermia/Bermia-Black.woff2") format("woff2"),
      /* Modern Browsers */
      url("/fonts/bermia/Bermia-Black.ttf") format("truetype");
    /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    text-rendering: optimizeLegibility;
  }

  @font-face {
    font-family: "Bornia";
    src: url("/fonts/bornia/Bornia-Regular.otf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    text-rendering: optimizeLegibility;
  }

  @font-face {
    font-family: "Bornia";
    src: url("/fonts/bornia/Bornia-RegularItalic.otf");
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    text-rendering: optimizeLegibility;
  }

  @font-face {
    font-family: "Bornia";
    src: url("/fonts/bornia/Bornia-Bold.otf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    text-rendering: optimizeLegibility;
  }

  @font-face {
    font-family: "Bornia";
    src: url("/fonts/bornia/Bornia-BoldItalic.otf");
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    text-rendering: optimizeLegibility;
  }
}

@layer base {
  body {
    font-family: "Bornia", "Inter", sans-serif;
    background-color: white;
    color: #212323;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Bermia", "Inter", sans-serif;
    font-weight: 900;
    letter-spacing: -0.025em;
  }
}
